.container {
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#121212, #212b46);
}

.title {
    margin-top: 20px;
    font-size: 3rem; 
    color: #FFF;
    animation: flipTitle 1s ease-in-out;
}

@keyframes flipTitle {
    from {
        transform: rotateX(90deg);
    }
    to {
        transform: rotateX(0deg);
    }
}

.containerInput,
.infoInput,
.CreateEDelete {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.infoInput {
    flex-direction: column;
}

.containerInput input,
.infoInput input,
.CreateEDelete input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    margin: 10px;
}

.CreateEDelete input {
    background: #FFF;
    width: 250px;
    height: 40px;
   
    margin-top: 10px; /* Alinhar verticalmente com os botões */
    margin-left: 10px; /* Espaçamento entre o input e o botão */
}

.buttonSearch,
.buttonCreate {
    background: #FFF;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonSearch:hover,
.buttonCreate:hover {
    background: #ccc;
}

.CreateEDelete button {
    margin: 10px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.CreateEDelete button:hover {
    box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}


.main {
    margin-top: 20px;
    text-align: left;
    background: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main h2 {
    margin: 0 0 10px;
}

.main span {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
}
